<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-navigationbar" version="1.1.0">
  <name>Cordova Plugin NavigationBar</name>
  <description>Cordova iOS Native NavigationBar</description>
  <license>Apache 2.0</license>
  <keywords>Native NavigationBar navbar</keywords>
  <repo>https://github.com/PinPinLink/cordova-plugin-navigationbar.git</repo>
  <issue>https://github.com/PinPinLink/cordova-plugin-navigationbar/issues</issue>
  <js-module name="NavigationBar" src="www/NavigationBar.js">
    <clobbers target="NavigationBar"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="NavigationBar">
        <param name="ios-package" value="CDVNavigationBar" onload="true"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVNavigationBar.h"/>
    <source-file src="src/ios/CDVNavigationBar.m"/>
  </platform>
</plugin>
